<!DOCTYPE html>
<html lang="en">
<head id="headId">
    <meta charset="UTF-8">
    <title>Guess The Number Game</title>
</head>
<body>
    <div align="center">
        <h1 id="game-title">Guess The Number Game</h1>
        <h3 id="main-message">
            Main Message Content
        </h3>
        <h3 id="result-message">
            Result Message Content
        </h3>

        <form id="game-form">
            <label id="enter-guess" for="guess">Enter your guess</label>
            <input id="guess" type="number" name="guess"/>
            <input id="submit" type="submit" value="Submit"/>
        </form>
        <footer id="footerId">
            <p>Created by Cottrell Technology Enterprises</p>
        </footer>
    </div>

</body>
</html>