<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thyeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Guess the Number Game</title>
</head>
<body>
    <div align="center">
        <h1>Guess The Number Game</h1>
        <h3 th:="${mainMessage}">Main Message Content</h3>
        <h3 th:="${resultMessage}">Result Message Content</h3>

        <form action = "play" method="post">
            <label for="guess">Enter your guess</label>
            <input id = "guess" type="number" name = "guess"/>
            <input type="submit" value="Submit"/>
        </form>

        <footer>
            <p>Created by Cottrell Technology Enterprises</p>
        </footer>
    </div>
</body>
</html>